<div class="col-md-5 col-sm-7 ms-footer-col ms-footer-alt-color">
    <div class="ms-footbar-block">
        <h3 class="ms-footbar-title text-center mb-2">Featured Posts</h3>
        <div class="ms-footer-media">
            <% site.posts.find({featured: true}).limit(3).each(function(post){ %>
            <div class="media">
                <div class="media-left media-middle">
                    <a href="javascript:void(0)">
                        <i class="fa fa-tags fa-lg"></i> </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading">
                        <a href="<%- url_for(post.path) %>"><%- post.title %></a>
                    </h4>
                </div>
                <div class="media-footer">
                        <span>
                          <i class="fa fa-calendar"></i> <%- post.date.format(config.date_format) %></span>
                    <span>
                          <i class="zmdi zmdi-folder-outline color-warning-light"></i>
                          <a href="javascript:void(0)">News</a>
                        </span>
                </div>
            </div>


            <% }) %>

            <div class="media">
                <div class="media-left media-middle">
                    <a href="javascript:void(0)">
                        <img class="media-object media-object-circle" src="assets/img/demo/p75.jpg" alt="..."> </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading">
                        <a href="javascript:void(0)">voluptates deserunt ducimus expedita cumque quaerat molestiae labore</a>
                    </h4>
                    <div class="media-footer">
                        <span>
                          <i class="zmdi zmdi-time color-info-light"></i> August 18, 2016</span>
                        <span>
                          <i class="zmdi zmdi-folder-outline color-warning-light"></i>
                          <a href="javascript:void(0)">Productivity</a>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>