<header class="ms-header ms-header-primary">
    <div class="container container-full">
        <div class="ms-title">
            <a href="<%- config.root %>" title="<%- config.title %>">
                <img
                        src="<%- theme.logo_image_source %>"
                        alt="<%- config.title %>"
                        class="animated zoomInDown animation-delay-5 img-responsive"
                        style="max-height: 60px; display: inline"
                >

                <h1 class="animated fadeInRight animation-delay-6"> from the desk of
                    <span>Pinal Bhatt</span>
                </h1>
            </a>
        </div>
        <div class="header-right">
            <div class="share-menu">
                <ul class="share-menu-list">
                    <li class="animated fadeInRight animation-delay-3">
                        <a target="_blank"
                                href="https://plus.google.com/share?url=u=http%3A%2F%2Fpbdesk.com%2F" class="btn-circle btn-google">
                            <i class="zmdi zmdi-google"></i>
                        </a>
                    </li>
                    <li class="animated fadeInRight animation-delay-2">
                        <a  target="_blank"
                                href="https://www.facebook.com/sharer.php?u=http%3A%2F%2Fpbdesk.com%2F"
                                class="btn-circle btn-facebook">
                            <i class="zmdi zmdi-facebook"></i>
                        </a>
                    </li>
                    <li class="animated fadeInRight animation-delay-1">
                        <a  target="_blank"
                            href="https://twitter.com/intent/tweet?url=http%3A%2F%2Fpbdesk.com%2F&text=PBDesk.com%20-%20Pinal%20Bhatt%27s%20Blog%20%7C%20Learning%20endeavour%20forever...from%20the%20desk%20of%20Pinal%20Bhatt&hashtags=pbdesk"
                            class="btn-circle btn-twitter">
                            <i class="zmdi zmdi-twitter"></i>
                        </a>
                    </li>
                    <li class="animated fadeInRight animation-delay-1">
                        <a  target="_blank"
                            href="https://www.linkedin.com/shareArticle?url=http%3A%2F%2Fpbdesk.com%2F&title=PBDesk.com%20-%20Pinal%20Bhatt%27s%20Blog%20%7C%20Learning%20endeavour%20forever...from%20the%20desk%20of%20Pinal%20Bhatt"
                            class="btn-circle btn-twitter">
                            <i class="zmdi zmdi-linkedin"></i>
                        </a>
                    </li>
                </ul>
                <a href="javascript:void(0)"
                   class="btn-circle btn-circle-primary animated zoomInDown animation-delay-7">
                    <i class="zmdi zmdi-share"></i>
                </a>
            </div>
            <a target="_blank" href="/feed.xml"
               class="btn-circle btn-circle-primary no-focus animated zoomInDown animation-delay-8" >
                <i class="zmdi zmdi-rss"></i>
            </a>
            <form class="search-form animated zoomInDown animation-delay-9">
                <input id="search-box" type="text" class="search-input" placeholder="Search..." name="q"/>
                <label for="search-box">
                    <i class="zmdi zmdi-search"></i>
                </label>
            </form>
            <a href="javascript:void(0)"
               class="btn-ms-menu btn-circle btn-circle-primary sb-toggle-left animated zoomInDown animation-delay-10">
                <i class="zmdi zmdi-menu"></i>
            </a>
        </div>
    </div>
</header>