<%
//console.log(page.path);
%>
<div id="navbar" class="navbar-collapse collapse">
    <ul class="nav navbar-nav">
        <li class="dropdown <%- (page.path==='index.html') || page.path.indexOf('page/')===0?'active': '' %>">
            <a href="/" class="animated fadeIn animation-delay-4">Home
                <i class="zmdi zmdi-chevron-down"></i>
            </a>
        </li>
        <li class="dropdown <%- page.path.indexOf('archives/')===0?'active': '' %>">
            <a href="/archives" class="animated fadeIn animation-delay-5" >Posts
                <i class="zmdi zmdi-chevron-down"></i>
            </a>
        </li>
        <li class="dropdown <%- page.path.indexOf('categories/')===0?'active': '' %>">
            <a href="/categories" class="animated fadeIn animation-delay-5" >Categories
                <i class="zmdi zmdi-chevron-down"></i>
            </a>
        </li>
        <li class="dropdown <%- page.path.indexOf('tags/')===0?'active': '' %>">
            <a href="/tags" class="animated fadeIn animation-delay-5" >Tags
                <i class="zmdi zmdi-chevron-down"></i>
            </a>
        </li>

        <li class="dropdown">
            <a href="#" class="dropdown-toggle animated fadeIn animation-delay-7" data-toggle="dropdown" data-hover="dropdown" role="button" aria-haspopup="true" aria-expanded="false" data-name="blog">About
                <i class="zmdi zmdi-chevron-down"></i>
            </a>
            <ul class="dropdown-menu">
                <li>
                    <a href="/about">
                        <i class="zmdi zmdi-view-compact"></i> About me</a>
                </li>
                <li>
                    <a href="/about/contact">
                        <i class="zmdi zmdi-view-compact"></i> Contact me</a>
                </li>
                <li class="divider"></li>
                <li>
                    <a href="/pbdesk-com-archives">
                        <i class="zmdi zmdi-file-text"></i> PBDesk.com Archives</a>
                </li>
                <li class="divider"></li>
                <li>
                    <a href="/about/site">
                        <i class="zmdi zmdi-file-text"></i> About this site</a>
                </li>
                <li>
                    <a href="about/disclaimer">
                        <i class="zmdi zmdi-view-dashboard"></i> Disclaimer</a>
                </li>

            </ul>
        </li>

    </ul>
</div>