<div class="card card-primary animated fadeInUp animation-delay-7">
    <div class="card-header">
        <h3 class="card-title">
            <i class="zmdi zmdi-play-circle-outline"></i> Video Of the day!</h3>
    </div>
    <div data-type="youtube" data-video-id="Ek5fIWgkXbI"></div>
</div>