
<%
/*var rnd = Math.floor(Math.random() * 5) + 1;
 var idx = 0;
 for (var link in site.data.videos) {
   idx += 1;
   console.log(idx);
   console.log(site.data.videos[link]);
 }*/
 %>
<div class="card card-info animated fadeInUp animation-delay-7">
    <div class="card-header">
        <h3 class="card-title">
            <i class="zmdi zmdi-play-circle-outline"></i> Video Of the day!</h3>
    </div>

    <div data-type="vimeo" data-video-id="187935649"></div>
</div>