<div class="card card-info animated fadeInUp animation-delay-7">
    <div class="card-header">
        <h3 class="card-title">
            <i class="zmdi zmdi-play-circle-outline"></i> Video Of the day!</h3>
    </div>

    <div data-type="youtube" data-video-id="I4yNjTZY9U"></div>
</div>