<div class="mt5 mt0-l">
    <article class="center mw9 mw9-ns br3 hidden ba mv4 panel">
        <h3 class="f4 bg-near-white br3 br--top black-60 mv0 pv2 ph3 panel-title">Learning Endeavour forerver... </h3>
        <div class="dn dtc-m db-l v-mid tc pr4 pa3" style="min-width: 6rem;">
            <img src="<%- theme.about_widget_avatar_url %>" class=" br-100 h3 w3 h4-l w4-l dib" title="<%- config.author %>">
        </div>
        <div class="dtc db-l v-mid lh-copy measure center f6 black-50 tj pa3">
            <%- theme.about_widget_text %>
        </div>
    </article>
</div>