<!-- Banner -->
<%- partial('_partial/banner.ejs', {
    mainText: theme.index_banner_text,
    secondaryText: theme.index_banner_text_secondary,
    faIconCss: theme.index_font_awesome_icon_css
}) %>

<!-- Content -->
<div class="w-100 ph2 ph4-m ph5-l mv4 mv5-l">
    <div class="content">
        <article class="center mw9 mw9-ns br3 hidden ba mv4 panel">
            <h3 class="f4 bg-near-white br3 br--top black-60 mv0 pv2 ph3 panel-title">from the desk of Pinal Bhatt</h3>
            <div class="mw9 center ph3-ns">
                <div class="cf ph2-ns">
                    <div class="fl w-100 w-50-ns pa2">
                        <div class="bg-white pv2">
                            <p class="f6 f5-ns lh-copy tj measure">
                                Hi Everyone! I'm Pinal Bhatt and <em>Welcome to My Desk!</em>
                                On this blog you'll find interesting posts, articles, tutorials, news updates and links
                                on Cloud Computing, Serverless concepts, AWS, GCP, Azure,
                                JavaScript, NodeJS, TypeScript, Angular, Microsoft.Net, ASP.NET,
                                MVC, WebAPIs, C#, VB.Net, MongoDB, Mocha,Design Patterns, Social Media,
                                Mobiles, Science & Technology and other random thoughts and opinions.
                            </p>
                        </div>
                    </div>
                    <div class="fl w-100 w-50-ns  pa2">
                        <div class="bg-white pv2">
                            <p class="f6 f5-ns lh-copy tj measure">
                                I am Software Engineer, and of course <i>always on learning ramp!</i>
                                I created this blog to narrate my coding and technology learning experiences.
                                I like sharing my experiments, ideas and experience with everyone by writing articles
                                on latest technological trends. I feel pleased and pride by sharing my knowledge and
                                information that I have gained via Internet.
                                And this site is my heartily attempt towards this.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </article>
        <div class="mw8 center">
            <%- partial('_partial/responsive-ad.ejs') %>
        </div>
        <div class="mw8 center">
            <% page.posts.forEach(function(item, index) { %>
                <%- partial('_partial/article-short', {item: item, index: index}) %>
            <% }); %>
        </div>
    </div>
    <%- partial('_partial/pagination') %>
</div>
